swagger: '2.0'
info:
  version: '1.0'
  title: "Personal Page Storage - GoLang"
  description: This is a simple API to list, upload (create and update), and delete all types of files in AWS S3 service. The service is very transparent, with littles setting could be connect to another object storage.
host: storage.javiercaballero.info
basePath: /
schemes:
- https
produces:
- application/json
tags:
- name: "Files"
paths:
  /{directory}:
    get:
      summary: List All filles in directory
      tags:
      - "Files"
      security:
      - Bearer: []
      consumes:
      - application/json
      parameters:
        - name: "directory"
          description: "Directory to list the files"
          in: "path"
          required: true
          type: "string"
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/FileList'
          examples:
            application/json:
              directory: "/"
              files:
              - name: "picture1.png"
                path: "directory/picture1.png"
                url: "https://s3.amazonaws.com/bucket/directory/picture1.png"
              - name: "picture2.png"
                path: "directory/picture2.png"
                url: "https://s3.amazonaws.com/bucket/directory/picture2.png"
    post:
      tags:
      - "Files"
      security:
      - Bearer: []
      summary: Upload a new file
      consumes:
        - multipart/form-data
      parameters:
        - name: "directory"
          description: "Directory to place the file"
          in: "path"
          required: true
          type: string
        - name: "upload"
          description: "File to upload"
          in: formData
          required: true
          type: file
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/File'
          examples:
            application/json:
              name: "picture.png"
              path: "directory/picture.png"
              url: "https://s3.amazonaws.com/bucket/directory/picture.png"
  /{file_path}:
    delete:
      summary: Delete a file
      tags:
      - "Files"
      security:
      - Bearer: []
      consumes:
      - application/json
      parameters:
        - name: "file_path"
          description: "Path of the file to remove"
          in: "path"
          required: true
          type: "string"
      responses:
        204:
          description: Successful Response
definitions:
  FileList:
    title: FileList
    type: object
    properties:
      directory:
        type: string
      files:
        type: array
        items:
          $ref: '#/definitions/File'
    required:
      - directory
      - files
  File:
    title: File
    type: object
    properties:
      "name":
        type: string
      "path":
        type: string
      "url":
        type: string
    required:
      - name
      - path
      - url